
* {
	border: solid red;
}
body {
	background-color: #ddf6ff;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

.main {
	padding: 5%;
}

h1 {
	color: black;

	padding: 2% 20%;
	text-align: center;
	border-radius: 10px;
	line-height: 10px;
animation: h1 5s;
animation-timing-function: ease-in;

}

.h2 {
	color: darkblue;
	background-color: #ffffff;
	text-align: center;
	border-style: ridge;
	border-inline-end-color: #d3d3d3;
	line-height: 20px;

	border-radius: 5px;
}


.information {
	padding: 30px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	justify-items: center;
	gap: 20px;
	position: relative;
	align-items: center;
	

}

.information-child {
	padding: 30px;
	display: flex;
	
	justify-content: center;
	align-items: center;
	justify-items: center;
	width: 100%;
	gap: 20px;
}
.information-child2
{
	padding: 30px;
	display: flex;
	
	justify-content: center;
	align-items: center;
	justify-items: center;
	width: 100%;
	gap: 20px;
	opacity: 0.5;
}

.education {
	padding: 30px;
	display: flex;
	
	justify-content: space-between;

	padding: 10px;
align-items: center;
	flex-wrap: wrap;
	
}

.education-child {
	padding: 30px;
	display: flex;
	
	justify-content: space-between;
align-items: center;

}

.paragraph {
	font-size: 18;
	font-style: italic;
}

.field {
	padding: 30px;
	display: flex;
	
	justify-content: space-around;
	line-height: 5px;

align-items: center;
	flex-wrap: wrap;
	position: relative;
	
}

.fiel-child {
	padding: 30px;
	display: flex;
	
	justify-content: space-between;
	line-height: 10px;

	margin-bottom: 20px;
align-items: center;
	flex-wrap: wrap;
}

.more information {
	padding: 30px;
	display: flex;
	
	justify-content: space-between;
	line-height: 5px;
	padding-left: 40px;
	
	justify-items: center;
	flex-wrap: wrap;
}

.more-child {
	padding: 30px;
	display: flex;

	justify-content: space-between;
	line-height: 5px;
	padding-left: 40px;

	justify-items: center;

}

.skills {
	padding: 30px;
	display: flex;
	
	justify-content: space-between;
	line-height: 5px;
	padding-left: 40px;

	justify-items: center;
	flex-wrap: wrap;
	position: relative;
}

.more-skills {
	padding: 30px;
	display: flex;
	
	justify-content: space-between;
	line-height: 5px;
	padding-left: 40px;
	padding: 10px;
	justify-items: center;
	gap: 20px;
}


.contact 
{
	padding: 30px;
	display: flex;
	
	
	justify-content: space-between;
	line-height: 5px;
	padding-left: 40px;
	padding: 10px;
	justify-items: center;
	flex-wrap: wrap;
	position: relative;
}

.contact-child {
	
	display: flex;
	
	justify-content: space-between;
	line-height: 5px;

	padding: 10px;
	align-items: center;
	flex-wrap: wrap;
}
button
{
	width: 100px;
	padding: 5px;
	border-radius: 10px;
	background-color: white;
	cursor: pointer;

position: absolute;
bottom: 20px;
right: 5px;
}
form
{
	width: 800px;
}
.field.field-child2
{
	width: 100px;
	padding: 5px;
	border-radius: 10px;
	background-color: white;
	cursor: pointer;

position: absolute;
bottom: 20px;
right: 5px;
}
.skills.more-skills2
{
	width: 100px;
	padding: 5px;
	border-radius: 10px;
	background-color: white;
	cursor: pointer;

position: absolute;
bottom: 20px;
right: 5px;
}
.contact.contact-child2
{
	width: 100px;
	padding: 5px;
	border-radius: 10px;
	background-color: white;
	cursor: pointer;

position: absolute;
bottom: 20px;
right: 5px;	
}

.form
{
	width: 80%;
}
.select
{
	width: 80%;
}


@keyframes h1
{
form {left: 0px;}
to {left: 500px;}
}