body
{
		background-color: #d3d3d3;
		border-style: solid ;
		border-width: 3px;
		margin: 20px;
		border-radius: 10px;
}
h1
{
	color: gray;
	background-color: #ffffff;
	font-size: 7;
	text-align: left;
	border: black double;
	border-width: 5px;
	border-radius :10px;
	margin-left: 20px;
	margin-right: 1200px;
	border-radius: 10px;
}
h2
{
	color: darkblue;
	background-color: #ffffff;
	text-align: center;
	border-style: ridge;
	border-inline-end-color: blueviolet;
	height: 35px;
	margin-left: 70px;
	margin-right: 70px;
	border-radius: 5px;
}
form 
{
	margin-left: 20px;
	margin-right: 10px;
}
label 
{
	margin-left: 10px;
}
textarea
{
	margin-left: 40px;
}