body
{
		background-color: #f4e3ff;
		padding: 5%;
		
}
h1
{
	color: black;
	background-color: #ffffff;
	padding: 2% 20%;
	text-align: center;
	border-radius: 10px;
	line-height: 10px;

	
}
h2
{
	color: darkblue;
	background-color: #ffffff;
	text-align: center;
	border-style: ridge;
	border-inline-end-color: #d3d3d3;
	;
	height: 35px;
	margin-left: 70px;
	margin-right: 70px;
	border-radius: 5px;
}
form 
{
	margin-left: 20px;
	margin-right: 10px;
	text-size-adjust: 12;
	size: adjust 20px; 
}
label 
{
	margin-left: 10px;
}
textarea
{
	margin-left: 20px;
}
.paragraph
{
	font-size: 18;
	font-style: italic;
}